<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Регистрация СГСПУ USO</title>
    <meta name="description" content="Управление студенческими организациями">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') }}">
    <!-- <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/font-awesome.min.css') }}">
    <!-- <link rel="stylesheet" href="assets/fonts/font-awesome.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome5-overrides.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Регистрация</h4>
                                    </div>
                                    <div class="col-sm">
                                        {% with messages = get_flashed_messages(category_filter=["success"]) %}
                                        {% if messages %}
                                        {% for message in messages %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <span>{{ message }}</span>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="col-sm">
                                        {% with messages = get_flashed_messages(category_filter=["warning"]) %}
                                        {% if messages %}
                                        {% for message in messages %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <span>{{ message }}</span>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="col-sm">
                                        {% with messages = get_flashed_messages(category_filter=["danger"]) %}
                                        {% if messages %}
                                        {% for message in messages %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <span>{{ message }}</span>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                    </div>
                                    <form id="register-form" class="user needs-validation" method="post"
                                        enctype="application/x-www-form-urlencoded" onsubmit="strongpass()">
                                        <div class="mb-3"><input class="form-control form-control-user" type="text"
                                                id="username" name="username" placeholder="Придумайте логин" required>
                                        </div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="text"
                                                id="firstname" name="firstname" placeholder="Ваше имя" required></div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="text"
                                                id="lastname" name="lastname" placeholder="Ваша фамилия" required></div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="email"
                                                id="email" placeholder="Ваш адрес эл.почты" name="email"
                                                autocomplete="off" required
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></div>
                                        <div class="mb-3">
                                            <select class="form-select form-control-user" id="level" name="level"
                                                required>
                                                <option value="undefined"></option>
                                                <option value="1">Студент</option>
                                                <option value="0">Не являюсь студентом</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <select class="form-select form-control-user" id="uzname" name="uzname"
                                                required>
                                                <option value="undefined"></option>
                                                <option value="СГСПУ">СГСПУ</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <input oninput="confirmpw()" onkeyup="validatepassword()"
                                                class="form-control form-control-user" type="password" id="password"
                                                style="position: relative;" autocomplete="off" placeholder="Пароль"
                                                name="password" required>
                                        </div>
                                        <div class="indicator mb-3">
                                            <span class="weak"></span>
                                            <span class="medium"></span>
                                            <span class="strong"></span>
                                        </div>
                                        <div class="pw-text mb-3"></div>
                                        <div class="mb-3">
                                            <input oninput="confirmpw()" class="form-control form-control-user "
                                                type="password" id="confirmpassword" placeholder="Повторите пароль"
                                                name="confirmpassword" required>
                                        </div>
                                        <div class="mb-3"><spam class="cpasstext"></spam></div>
                                        <!-- <div class="mb-3">
                                            <p>Загрузите фото для Вашего профиля:</p>
                                            <input class="form-control" type="file" id="avatar" name="avatar" accept="image/jpeg,image/png">
                                        </div>
                                        <div class="mb-3"> -->
                                        <div class="mb-3">
                                            <!-- TODO: Страница с законом о ЗПО -->
                                            <div class="form-check"><input class="form-check-input custom-control-input"
                                                    type="checkbox" id="formCheck-1">
                                                <label class="form-check-label custom-control-label"
                                                    for="formCheck-1">Нажимая на кнопку <i>Зарегистрироваться</i>, я даю
                                                    согласие на обработку персональных
                                                        данных.</label>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <input id="signup" class="btn btn-primary d-block btn-user w-100"
                                                type="submit" name="signup" value="Зарегистрироваться">
                                            <hr />
                                        </div>
                                    </form>
                                    <div class="text-center"><a class="small" href="login">Уже
                                            зарегистрированы?!</a></div>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image"
                                    style="background: url( {{ url_for('static',filename= 'assets/img/signup-image.jpg') }}) center / auto no-repeat;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/register.js') }}"></script>
</body>

</html>