{% extends "layout.html" %}
{% block title %}{{event.name}}{% endblock %}
{% block nav_left %}
<ul class="navbar-nav text-light" id="accordionSidebar">
    <li class="nav-item"><a class="nav-link active" href="/profile"><i class="fas fa-user"></i><span>Мой
        профиль</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/events/my"><i
        class="fas fa-briefcase"></i><span>Мои мероприятия</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/calend"><i
        class="fas fa-calendar"></i><span>Календарь мероприятий</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/add_event"><i
                class="fas fa-plus-square"></i><span>Добавить мероприятие</span></a></li>
    {% if me.level >= 3 %}
    <li class="nav-item"><a class="nav-link" href="/events/manage"><i
                class="fas fa-th-list"></i><span>Управление заявками</span></a></li>
    {% endif %}
    <li class="nav-item"><a class="nav-link" href="/users"><i
                class="fas fa-users"></i><span>Портфолио</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/profile/settings"><i
                class="fas fa-cog"></i><span>Настройки</span></a></li>
</ul>
{% endblock %}
{% block content %}
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        {% if event.status == 0 %}
                                        <div class="card-header py-3 bg-primary">
                                        {% elif event.status == 1 %}
                                        <div class="card-header py-3 bg-success">
                                        {% elif event.status == 2 %}
                                        <div class="card-header py-3 bg-danger">
                                        {% endif %}
                                            <h5 class="text-light m-0 fw-bold">&#171;{{event.name}}&#187;</h5>
                                        </div>
                                        <div class="card-body">
                                            <form id="enrollEventForm-event" method="POST">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="name"><strong>Название:</strong></label><input class="form-control" type="text" id="name" name="name" value="{{event.name}}" readonly=""></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="info"><strong>Дополнительная информация:</strong></label><textarea class="form-control form-control-sm" id="dop" name="dop" value="{{event.dop}}" readonly="">{{event.dop}}</textarea></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="sfera"><strong>Вид деятельности:</strong><br></label><input class="form-control" type="text" id="sfera" name="sfera" value="{{event.sfera}}" readonly=""></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="level"><strong>Уровень:</strong><br></label><input class="form-control" type="text" id="level" name="level" value="{{event.level}}" readonly=""></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="dateStart"><strong>Дата начала:</strong><br></label><input class="form-control" type="text" id="datestart" name="datestart" value="{{event.datestart}}" readonly=""></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="dateEnd"><strong>Дата завершения:</strong><br></label><input class="form-control" type="text" id="dateend" name="dateend" value="{{event.dateend}}" readonly=""></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="dateRegStart"><strong>Начало приёма заявок:</strong><br></label><input class="form-control" type="text" id="dateregstart" name="dateregstart" value="{{event.dateregstart}}" readonly=""></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="dateRegEnd"><strong>Завершение приёма заявок:</strong><br></label><input class="form-control" type="text" id="dateregend" name="dateregend" value="{{event.dateregend}}" readonly=""></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col text-end">
                                                        <button class="btn btn-primary" type="submit" id="action" name="action" value="event_end">Завершить мероприятие</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <h5 class="text-primary m-0 fw-bold">QR-код</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3 text-center"><img src="https://api.qrserver.com/v1/create-qr-code/?data=http://vkapi.me/event/{{event.link}}&amp;size=160x160&amp;color=053d8c"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <h5 class="text-primary m-0 fw-bold">Дополнительная информация</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label" for="dateRegStart"><strong>Свободных мест: </strong><br /></label><label class="form-label">{{event.seats - zanyato}}</label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <h5 class="text-primary m-0 fw-bold">Участники мероприятия</h5>
                                        </div>
                                        <div class="card-body">
                                            {% for m in members %}
                                            <div class="list-group mb-1">
                                                {% if m.memberrole == 1 %}
                                                    <button class="list-group-item list-group-item-action active">
                                                        <div class="d-flex justify-content-between">
                                                            <a href="/user/{{m.id}}" class="link-light"><span>{{m.firstname + " " + m.lastname}}</span></a>
                                                            <label class="form-label text-light">Организатор</label>
                                                        </div>
                                                    </button>
                                                {% else %}
                                                    <button class="list-group-item list-group-item-action">
                                                        <div class="d-flex justify-content-between">
                                                            <a href="/user/{{m.id}}"><span>{{m.firstname + " " + m.lastname}}</span></a>
                                                            <label class="form-label">Участник</label>
                                                        </div>
                                                    </button>
                                                {% endif %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}